  /* Google font */
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }

  header {
    background: #004e89;
    color: white;
    padding: 1rem 0 0 0;
    text-align: center;
  }

  #course-title {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  background-color: #0c3250;
  }

  nav a {
    color: white;
    margin: 0.5rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }

  nav a:hover {
    background-color: #0077cc;
  }

  main {
    margin: 0 auto;
    margin: 2rem;
    display: grid;
    padding: 1rem;
    gap: 1.5rem;
  }

  .card {
    grid-column: auto;
    grid-row: 2;
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  section p {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
  }

  .card img {
    z-index: 13;
  }

  .card > a {
    display: block;
  }

  footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 1rem;
  }
